<form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
    <br />
    <div *ngIf="loginSuccessful" class="alert alert-success">
        Login Successful.
    </div>
    <div>
        <label>Username</label>
        <br />
        <input name="username" id="username" formControlName="username">
    </div>
    <br />

    <div>
        <label>Password</label>
        <br />
        <input name="password" id="password" formControlName="password" type="password">
    </div>
    <br />
    <button type="submit">Login</button>
</form>