<div class="list-group mb-4">
    <a class="list-group-item list-group-item-action active">
        Cricket Teams
    </a>
    <div *ngFor="let team of teamResponse.data.teams">
        <a routerLink="/team/{{team._id}}" class="list-group-item list-group-item-action">{{team.country}}</a>
    </div>

</div>
<div class="d-grid gap-1 d-md-flex ">
    <button class="btn btn-primary me-md-2" (click)="previousTeams()" [disabled]=isPreviousDisable>Previous</button>
    <button class="btn btn-primary" (click)="nextTeams()" [disabled]=isNextDisable>Next</button>
</div>